* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.heading-primary {
  font-size: 5rem; }

.heading-secondary {
  font-size: 2.5rem; }

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  position: sticky;
  height: 15vh;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  background-repeat: no-repeat;
  opacity: .9;
  transition: .5s;
  z-index: 10; }
  .header .social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
    flex-basis: auto;
    height: 100%; }
    .header .social__item {
      list-style: none;
      padding: .8rem; }
      .header .social__item:first-child {
        margin-left: 1rem;
        margin-right: 2rem; }
      .header .social__item a svg {
        height: 3.5rem;
        width: 3.5rem;
        fill: #fff;
        transition: all .2s;
        margin-bottom: .25rem; }
      .header .social__item a:hover svg {
        transform: translateY(-0.5rem) scale(1.3) scaleX(1.1); }
      .header .social__item a:active svg {
        transform: translateY(0) scale(1) scaleX(1); }
  .header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 22.5%; }
    .header .navigation__item {
      list-style: none;
      padding: .3rem 1rem; }
      .header .navigation__item:last-child {
        margin-right: 1.5rem; }
    .header .navigation__link, .header .navigation__link:visited, .header .navigation__link:link {
      display: inline-block;
      font-size: 2.25rem;
      font-weight: 650;
      text-decoration: none;
      color: #fff;
      transition: all .2s;
      cursor: pointer; }
    .header .navigation__link:hover {
      border-bottom: solid #fff .5rem;
      transform: translateY(-0.5rem) scale(1.15); }
    .header .navigation__link:active {
      transform: translateY(0) scale(1);
      border-bottom: none; }

.container {
  display: grid;
  grid-template-rows: [navbar-start] 15vh [navbar-end];
  grid-template-columns: [full-start] minmax(6rem, 1fr) [content-start] repeat(7, minmax(min-content, 1fr)) [content-end] minmax(6rem, 1fr) [full-end];
  grid-gap: 3rem;
  background-color: #FFF; }

.section-1 {
  grid-column: content-start / content-end;
  height: 100vh;
  background-color: gray; }

.section-2 {
  grid-column: content-start / content-end;
  height: 100vh;
  background-color: pink; }

.margin-bottom-small {
  margin-bottom: 2rem; }

.margin-bottom-medium {
  margin-bottom: 4rem; }

.margin-bottom-large {
  margin-bottom: 6rem; }

.margin-bottom-huge {
  margin-bottom: 8rem; }

.bg-video {
  grid-column: 1 / -1;
  grid-row: 1 / 5; }
  .bg-video__heading {
    position: absolute;
    top: 35%;
    left: 15%;
    color: #fff;
    display: inline-block;
    font-size: 10rem;
    text-shadow: 1.4rem 1.4rem 0.9rem black; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover; }
