$color-primary: #273469;
$color-secondary: #83BCFF;
$color-tertiary: #FAFAFF;
$quaternary: #83BCFF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px(standard) = 62.5%
    
    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(tab-port) {
        font-size: 53%;
    }

    @include respond(phone) {
        font-size: 50%;
    }

    // @include respond(big-desktop) {
    //     font-size: 70%;
    // }

}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}


//Color Gradient Testing 
    //background: linear-gradient(to right bottom, #011936 10%, #132356 95%);
    //background: linear-gradient(to right bottom, #153391 30%, #132356 95%);
    //background: linear-gradient(to right bottom, #153391 30%, #132356 95%);

