.contact{
    grid-column: content-start / content-end;
    grid-row: contact-start / contact-end;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1B1B;
    height: 100%;

    &__header {
        align-self: center;
        width: 40%;
        margin-bottom: 2rem;
        @include respond(phone) {
            width: 30%
        }
    }

    &__horizontal-line {
        color: orange;
    }


    &__btn {
        display: flex;
        outline: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: gray;
        color: #fff;
        width: 10rem;
        height: 1rem;
        padding: 2.5rem;
        padding-top: 1rem;
        margin-bottom: 2.5rem;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            background-color: #696969
        }
        &:active p {
            transform: translateY(.2rem);
        }
        p {
            font-size: 1.75rem;
            line-height: 1.2rem;
        }
    }
    
    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        
        
        .form {
            &__label {
                font-size: 4rem;
                color: #ccd9e4;
                @include respond(tab-port) {
                    font-size: 2rem;
                }
                @include respond(phone) {
                    font-size: 2rem;
                }
            }

            &__group {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
            }
            &__input {
                font-size: 2.5rem;
                outline: none;
                background-color: gray;
                color: #fff;
                width: 50rem;
                @include respond(tab-port) {
                    width: 38rem;
                }
                @include respond(phone) {
                    width: 20rem;
                }
                &--name {
                    height: 4rem;
                }
                &--email {
                    height: 4rem;
                }
                &--message {
                    height: 14rem;
                }
            }
        }
    }
}
