.footer {
    grid-column: 1 / -1;
    grid-row: footer-start / footer-end;
    display: flex;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: #1B1B1B;
    height: 5vh;
}