.projects{
    grid-column: content-start / content-end;
    grid-row: projects-start / projects-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
    //grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));
    &__item {
        display: grid;
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    &__imgs {
        display: flex;
        &--myPiggyBank {
            flex-direction: column;
            img {
                width: 36rem;
                height: 19.9rem;

                @include respond(tab-land) {
                    width: 33rem;
                    height: 16.9rem; 
                }
            }
          }

        &--cryptoTracker{
        img {
            width: 19.2rem;
            height: 39.8rem;

            @include respond(tab-land) {
                width: 16.2rem;
                height: 36.8rem; 
            }
        }
        }
    }

    &__details {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        color: #ccd9e4;
        padding: 2.5rem;
    }

    &__links {
        a svg {
            height: 6rem;
            width: 6rem;
            fill: #ccd9e4;           
        }
    }
}