.heading-primary {
    font-size: 5rem;
    color: #ccd9e4;
    &--contact {
        margin-bottom: .5rem;
        @include respond(tab-port) {
            font-size: 3rem;
        }

        @include respond(phone) {
            font-size: 2.2rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    color: #ccd9e4;
}